extends layout
 
block content
  h1= title
  if(toShow == null)
    h2 No instance of this detail
  else  
    - let bankid = toShow._id
    - let bank_name  = toShow.bank_name
    - let bank_account = toShow.bank_account
    - let bank_balance = toShow.bank_balance
    div
        div.row
            div(class='bankAttr mr-3') Bank ID is:
            div #{bankid}
        div.row
            div(class='bankAttr mr-3') Bank Name is:
            div #{bank_name}
        div.row
            div(class='bankAttr mr-3') Bank Account is:
            div #{bank_account}
        div.row
            div(class='bankAttr mr-3') Bank Balance is:
            div #{bank_balance}